/* Mobile style */

body {
    background-color: #95D6EA;
    background-image: linear-gradient(#001057, rgb(128, 220, 254));
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #15719f;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

h3 {
     background-color: white;
     color:#0435a8;
}

h2 {
    font-size: 1.5rem;
    text-align: left;
}

#logo {
    margin: 0.5em 0 0 .5em;
    background-color: white;
    width: fit-content;
    padding: 0.1em;
    margin-right: auto;
    font-size: 0.6rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.city {
    margin-right: 3em;
    align-content: center;
    font-size: 1rem;
    color: white;
    letter-spacing: 1px;
}

.units {
    align-content: center;
    margin-right: 1em;
}

.forecast_days ul {
    list-style: none;
    padding: 0.3em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    background-color: #21a7ea;
    text-decoration: none; 
    margin: 0.2em 0 0;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.forecast_days a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.forecast_days a:hover, .forecast_days a:active {
    text-decoration: none;
    color: blue;
    font-weight: 400;
}

/* Today section */
#today {
    position: relative;
}
.container {
    border-radius: 7px;
    height: 25em;
    opacity: 0.3;
}

#today, #hourly, #weekly {
    color: rgb(255, 255, 255);
    margin: 2em 3em;
}

#hourly, #weekly {
    padding: 3em 0;
}

#hourly h2, #weekly h2 {
    padding-top: 1.5em;
}

#today h2 {
    position: absolute;
    top: 3em;
    left: 2em;
}

#today ul {
    position: absolute;
    top: 8em;
    left: 1em;
    list-style: none;
}

.temperature {
    margin-top: 1em;
    padding: 0.5em;
    color: rgb(249, 196, 4);
    font-size: 3rem;
    font-weight: 600;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.humidity {
    color: rgb(211, 180, 246);
    font-size: 1.5rem;
    font-weight: 400;
}

/* Hourly and daily forecast */

.grid, .grid_daily {
    color: blue;
    font-size: 1.3rem;
}

.grid ul, .grid_daily ul {
    display: grid;
    grid-template-columns: 1fr; /* Single column */
    grid-auto-rows: minmax(50px, auto); 
    gap: 7px; 
    justify-content: left;
    padding: 0;
}

.grid li, .grid_daily li {
    background-color: rgb(16, 145, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffeead;
    font-weight: 600;
    letter-spacing: 1px;
    width: 60%;
    list-style: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 0.3em 0 0.3em 0.7em;
}

.grid_daily li {
    width: 100%;
    justify-content: space-around;
    font-size: 1rem;
}

.temp, .date {
    margin-right: 17px;
}

.precipitation {
    color:#5908e3;
    font-size: 1rem;
}

.temp {
    color: rgb(247, 213, 92);
}

button {
    height: 1.7em;
    width: 3.3em;
    border-radius: 5px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.c_unit:active, .c_unit:hover, .f_unit:active, .f_unit:hover{
    background-color: rgb(157, 189, 239);
    border: none;
}

.footer {
    padding: 1em;
    color:#0435a8;
    font-size: 0.7rem;
}
/* =====================================================
Tablet style */

@media (min-width: 600px) and (max-width: 1200px) {
    body {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1.9rem;
    }

    #logo {
        padding: 0.2em;
        font-size: 0.8em;
    }

    .city {
        font-size: 1.7rem;
    }

    .container {
        height: 33em;
    }

    #today ul {
        top: 10em;
    }

    .temperature {
        font-size: 4rem;
    }

    .grid_daily li {
        font-size: 1.3rem;
    }
    
    .precipitation {
        font-size: 1.3rem;
    }

    .footer {
        font-size: 1rem;
    }
}

/* ============================================================= */

/* Desktop style */
@media (min-width: 1200px) {

    body {
        font-size: 1.125rem;
    }

    h2 {
        font-size: 3rem;
    }

    #logo {
        margin: 0.5em 0 0.3em 0.5em;
        font-size: 1rem;
        margin-right: auto;
    }

    .city {
        margin-right: 6em;
        font-size: 2rem;
    }

    .units {
        margin-right: 2em;
    }

    .forecast_days ul {
        padding: 0.5em 0;
    }

    /* Today section */
    
    .container {
        height: 40em;
    }

    #today, #hourly, #weekly {
        margin: 2em 6em;
    }

    #hourly, #weekly {
        padding: 5em;
    }

    #hourly h2, #weekly h2 {
        padding-top: 1.3em;
    }

    #today ul {
        position: absolute;
        top: 16em;
        left: 4em;
        list-style: none;
    }

    .temperature {
        font-size: 5rem;
        font-weight: 700;
    }

    .humidity {
        font-size: 2rem;
    }

    /* Hourly and daily forecast */

    .grid, .grid_daily {
        font-size: 2rem;
    }

    .grid ul, .grid_daily ul {
        grid-auto-rows: minmax(70px, auto); 
        gap: 10px; 
    }

    .grid li, .grid_daily li {
        font-weight: 800;
        width: 30%;
        padding: 1em;
    }

    .grid_daily li {
        width: auto;
        justify-content: left;
    }

    .temp, .date {
        margin-right: auto;
        font-size: 2rem;
    }

    .precipitation {
        font-size: 1.5rem;
    }

    button {
        height: 2em;
        width: 4em;
    }

    .footer {
        font-size: 1.2rem;
    }
}



